<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>통계 페이지</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="gnb">
    <nav>
        <ul class="gnb-group">
            <li><a href="/">회원관리</a></li>
            <li><a href="/board">게시글관리</a></li>
            <li><a href="/stats">통계</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <table>
        <tr>
            <th>유저이름</th>
            <th>닉네</th>
            <th>유저ID</th>
            <th>게시글 수
<!--                <button th:onclick="updateOrder('bt_count')">정렬</button>-->
            </th>
            <th>댓글 수
<!--                <button th:onclick="updateOrder('ct_count')">정렬</button>-->
            </th>
        </tr>
        <tbody id="stats-list">
        <tr th:each="stat : ${stats}">
            <td th:text="${stat.username}"></td>
            <td th:text="${stat.nickname}"></td>
            <td th:text="${stat.userId}"></td>
            <td th:text="${stat.btCount}" id="bt_count"></td>
            <td th:text="${stat.ctCount}" id="ct_count"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{/js/stats.js}"></script>
</body>
</html>

